    header{
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
    }

    address{
        width : 30px;
        height : 15px;
    }

    label{
        width : 700px;
        height: 300px;          
        overflow-y: auto;
        display : block;
        background-color : lightyellow;
    }

    div{
        margin-left : 10px;
    }